body{
    margin: 0;
    padding: 0;
}

.header h1{
    margin: auto;
    margin-top: 0px;
    color: #DDD;
    width: 500px;
    text-align: center;
}

.header, .footer{
    background-color: #555;
    margin: 0;
    padding: 0;
    height: 10vh;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.left-aside, .right-aside{
    background-color: #777;
    margin: 0;
    padding: 0;
}

.left-aside, .right-aside, .main{
    width: 100%;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.main{
    background-color: #999;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

.uczen{
    border: 1px solid black;
    background-color: #888;
    width: 225px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#wylosowanyUczen{
    background-color: #AAA;
    color: red;
    font-weight:900;
}

button{
    display: block;
    float: left;
    width: 40%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 100;
    font-size: 10px;
}

a{
    text-decoration: none;
}


@media only screen and (min-width: 600px) {
    button{
        font-size: 16px;
    }
} 
@media only screen and (min-width: 768px) {

} 
@media only screen and (min-width: 992px) {
    .left-aside{
        width: 34%;
    }
    .main{
        width: 66%;
    }
    .right-aside{
        width: 100%;
    }
    button{
        width: 90%;
    }
} 
@media only screen and (min-width: 1200px) {
    .left-aside, .main{
        width: 25%;
        min-height: 80vh;
    }
    .right-aside{
        width: 50%;
        min-height: 80vh;
    }
}