body{
    margin: 0;
    padding: 0;
}

.header h1{
    margin-top: 0px;
}

.header, .footer{
    background-color: #555;
    margin: 0;
    padding: 0;
    height: 10vh;
}

.content{
    display: flex;
}

.left-aside, .right-aside{
    background-color: #777;
    width: 25%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

.right-aside{
    width: 50%;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.main{
    background-color: #999;
    margin: 0;
    padding: 0;
    width: 25%;
    min-height: 80vh;
}

.uczen{
    border: 1px solid black;
    background-color: #888;
    width: 225px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#wylosowanyUczen{
    background-color: #AAA;
    color: red;
    font-weight:900;
}

button{
    display: block;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 100;
}

a{
    text-decoration: none;
}