body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    margin: auto;
    width: fit-content;
    color: #edeeff;
    padding: 25px;
}

header img{
    height: 90px;
    float: left;
}

section{
    margin: 10px;
    padding: 10px;
    border: 2px solid #020641;
    border-radius: 8px;
    background-color: #9498cf;
    color: #000220;
}

header, footer{
    background-color: #777bb3;
    margin: 0;
    padding: 0;
    height: 90px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    float: left;
    display: block;
    width: fit-content;
}

footer a img{
    height: 40px;
    margin: auto;
    padding: 20px;
}

footer p {
    color: #edeeff;
    text-align: center;
    margin: 0;
    padding: 30px;
    font-size: 25px;
    display: block;
    width: fit-content;
}

.content{
    display: flex;
}

aside{
    background-color: #9ca1e7;
    width: 25%;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 180px);
}

main{
    background-color: #d2d5ff;
    margin: 0;
    padding: 0;
    width: 75%;
    min-height: calc(100vh - 180px);
}

a{
    text-decoration: none;
}

aside ul li {
    list-style-type: none;
    background-color: #777bb3;
    display: block;
    width: 80%;
    margin: auto;
    margin: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border: #02074d 2px solid;
    border-radius: 5px;
    color: #EDEEFF;
    text-align: center;
    font-weight: 900;
}

aside ul li:hover{
    background-color: #FFF2;
}

pre{
    width: 90%;
    margin: 20px auto;
    background-color: #1E1E1E;
    color: #D4D4D4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.green{
    color: #6A9955 !important;  
}

.pink{
    color: #C586C0;  
}

.yellow{
    color: #DCDCAA; 
}

.blue{
    color: #569CD6; 
}

.lightblue{
    color: #4FC1FF; 
}

.darkblue{
    color: #569CD6; 
}

.orange{
    color: #CE9178; 
}

.lightgreen{
    color: #B5CEA8; 
}

.navbox{
    margin: 0;
    background-color: #363a75;
    position: sticky;
    top: 0;
    height: 40px;
}

aside div{
    position: sticky;
    height: auto;
    top: 40px;
    font-weight: 900;
    font-size: 20px;
    padding: 1.5%;
    text-align: center;
    background-color: #8888;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 0px;
}

nav ul li{
    margin: auto;
    padding: 10px;
}

nav ul li a{
    color: #edeeff;
    font-weight: bold;
}

.done{
    background-color: #27ae60 !important;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
}

.flex-container > div{
    background-color: #f1f1f1;
    width: 25px;
    height: 25px;
}

.solution-container{
    border: 2px solid black;
    background-color: #edeeff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.navbox nav progress{
    width: 100%;
    height: 5px;
    background-color: #edeeff;
    margin: 0px;
    padding: 0px;
    display: block;
}

p progress{
    width: 100%;
    height: 5px;
    background-color: #edeeff;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: 0px;
}

progress::-moz-progress-bar {
    background-color: #77b379;
}

progress::-webkit-progress-value {
    background-color: #77b379;
}