body{
    margin: 0;
    padding: 0;
}

header h1{
    margin: auto;
    width: fit-content;
    color: #edeeff;
    padding: 25px;
}

header img{
    height: 90px;
    float: left;
}

section{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #9498cf;
}

header, footer{
    background-color: #777bb3;
    margin: 0;
    padding: 0;
    height: 90px;
}

footer > p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px;
    font-size: 25px;
}

.content{
    display: flex;
}

aside{
    background-color: #9ca1e7;
    width: 25%;
    margin: 0;
    padding: 0;
    min-height: calc(100vh-180px);
}

main{
    background-color: #d2d5ff;
    margin: 0;
    padding: 0;
    width: 75%;
    min-height: calc(100vh-180px);
}

a{
    text-decoration: none;
}

pre{
    width: 90%;
    margin: 20px auto;
    background-color: #1E1E1E;
    color: #D4D4D4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.green{
    color: #6A9955 !important;  
}

.pink{
    color: #C586C0;  
}

.yellow{
    color: #DCDCAA; 
}

.blue{
    color: #569CD6; 
}

.lightblue{
    color: #4FC1FF; 
}

.darkblue{
    color: #569CD6; 
}

.orange{
    color: #CE9178; 
}

.lightgreen{
    color: #B5CEA8; 
}

.navbox{
    margin: 0;
    background-color: #363a75;
    position: sticky;
    top: 0;
    height: 40px;
}

aside div{
    position: sticky;
    height: auto;
    top: 40px;
    font-weight: 900;
    font-size: 20px;
    padding: 1.5%;
    text-align: center;
    background-color: #8888;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 0px;
}

nav ul li{
    margin: auto;
    padding: 10px;
}

nav ul li a{
    color: white;
    font-weight: bold;
}

.done{
    background-color: #27ae60 !important;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
}

.flex-container > div{
    background-color: #f1f1f1;
    width: 25px;
    height: 25px;
}

#RGB{
    display: block;
    margin: auto;
    border: #1E1E1E 2px solid;
    width: 200px;
    height: 100px;
}

.shooting-target{
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    margin: auto;
    background-image: url(tarcza.jpg);
}

.dpk{
    width: 50px;
    height: 50px;
    background-image: url(dpk.png);
    background-size: cover;
    position: absolute;
    z-index: 10;
    top: 350px;
    left: 1000px;
}

.click-coordinates{
    width: 600px;
    height: 600px;
    background-color: #27ae60;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.movable{
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    position: absolute;
    top: 5300px;
    left: 1200px;
    border: 2px solid black;
    border-radius: 8px;
}

.solution-container{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}